@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Jenkins CICD Pipeline</h1>
    <img src="~/images/jenkinsimg.jpg" />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and using Jenkins As CI/CD Pipeline</a>.</p>
</div>
